html {scroll-behavior: smooth;}
main {margin-top: 150px;}

.fa{
    color: red;
    zoom: 250%;
}

section {scroll-margin-top:50px}

.w3-image {
    width: 100%;

}

 #portfolio img {
    height: 300px;
    /* width: 100%; */
} 